body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(168, 198, 254) 0%, rgb(255, 247, 107) 100%);
}

button {
  cursor: pointer;
}
